.default-home__title {
    font-family: 'Outfit', 'Roboto', sans-serif;
    font-weight: 700;
    color: var(--color-text);
    font-size: 3.04rem;
    position: relative;
    bottom: 1.52rem;
    width: 70%;
    align-self: center;
    text-align: center;
}